@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.741),
      rgba(255, 255, 255, 0.214)
    ),
    linear-gradient(90.01deg, #931ee1 0.01%, #b380ff 50.01%, #014fc4 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(
      180deg,
      #931ee176 0%,
      #014fc4ec 100%
    ),
    rgba(72, 21, 255, 0.315);
  box-shadow: inset 0 0 12px #0331ff5f;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      #931ee1f7 0%,
      #014fc461 100%
    ),
    rgb(115, 77, 255);
  box-shadow: inset 0 0 12px #0331ff5f;
}


::-webkit-scrollbar {
  width: 4px;
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #16147F;
  border-radius: 100px;
  /* border: solid 3px #e5e5e5; */
  /* box-shadow: inset 0 0 3px #999; */
}

.myborder{
  /* border-image: linear-gradient(to right, #8111cc, #4e3eff) 4; */
  border-image: linear-gradient(to right, #931ee1, #257cfff4) 4;
  border-image: linear-gradient(to right, #4b2dba, #257cfff4) 4;
  
}